.root {
    border-right: 1px solid var(--border);
}

.toolSelection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 6px;
    column-gap: 6px;
    padding: 6px;
    border-bottom: 1px solid var(--border);
}